@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Header.css */

.header h1 {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  font-size: 4rem; /* Increase the font size for the header */
  margin-bottom: 1.5rem; /* Add some margin to the bottom of the title */
  color: #FFFFFF; /* Your text color */
}

.header p {
  font-size: 1.10rem; /* Set a smaller font size for the subtitle */
  color: #dcdcdc;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  padding: 0px 0; /* Vertical padding */
  line-height: 0.5;
}

/* You can remove or adjust the .header styles if they are not needed */
.header {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding: 20px 0; /* Vertical padding */
  background-color: #051C2C; /* Adjust background color */
}