@keyframes popLetter {
  0%, 100% {
    transform: scale(1);
    color: #ffffff; /* White */
  }
  20% {
    transform: scale(1.2);
    color: #ffffff; /* White */
  }
  40% {
    transform: scale(1);
    color: #ffffff; /* White */
  }
  60% {
    transform: scale(1.2);
    color: #ffffff; /* White */
  }
  80% {
    transform: scale(1);
    color: #ffffff; /* White */
  }
}


.letter-animation {
  display: inline-block;
  animation: popLetter 2s infinite;
  margin-right: 3px;
  color: #ffffff; /* Set text color to white */
  animation-delay: calc(0.2s * var(--i)); /* Staggered animation start */
}


.progress-bar-container {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 16px;
  font-style: normal;
  padding: 10px;
  font-optical-sizing: auto;
  text-align: center;
  color: #fff;
  width: 100%;
  max-width: 600px;
  margin: 40px auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 170px;
}

.progress-bar {
  font-size: 1.2em;
}
