/* UploadButton.css */

.upload-button {
  background-color: #B284BE; /* The single color you want */
  color: #fff;
  border: none;
  padding: 30px 60px; /* Increase padding to make the button larger */
  margin: 10px;
  font-size: 1.6rem; /* Slightly larger text size */
  font-weight: bold; /* Make the text bold */
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth transition for all properties */
  text-decoration: none; /* No underline by default */
  box-shadow: 0 0 0 0 rgba(178, 132, 190, 0); /* No shadow by default */
}

.upload-button:hover,
.upload-button:focus {
  background-color: #B284BE; /* Maintain the same color on hover/focus */
  box-shadow: 0 0 10px #B284BE; /* Add a subtle glow effect */
  outline: none; /* Removes the outline that appears on focus */
}

.upload-button:active {
  transform: scale(0.98); /* Slightly reduce the button size to mimic a pressing effect */
}