
/* UploadButton.css */

.upload-button {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  padding: 30px 60px; /* Increase padding to make the button larger */
  text-align: center;
  color: #fff; /* Assuming a dark theme */
  background-color: #8d155e; /* The single color you want */
  border: none;
  margin: 10px;
  font-size: 1.2rem; /* Slightly larger text size */
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth transition for all properties */
  text-decoration: none; /* No underline by default */
  box-shadow: 0 0 0 0 rgba(178, 132, 190, 0); /* No shadow by default */
}

.upload-button:hover,
.upload-button:focus {
  background-color: rgba(233, 60, 172, 0.63); /* Maintain the same color on hover/focus */
  box-shadow: 0 0 10px #B284BE; /* Add a subtle glow effect */
  outline: none; /* Removes the outline that appears on focus */
}

.upload-button:active {
  transform: scale(0.98); /* Slightly reduce the button size to mimic a pressing effect */
}